<% @page_title = "About" %>
<% @page_description = "High Seas Design House offers effective digital solutions that give your company a creative edge over the competition. " %>

<div class="ab-hd">
  <div class="container-fluid">
    <h1>About High Seas</h1>
    <h3>Digital Operations Support</h3>
    <p>High Seas was founded in 2012, as a resource to give companies along the Gulf Coast a creative edge. </p>
  </div>
</div>

<div class="about-p1">
  <div class="container">
    <div class="txt">
      <h4>We are a full-service agency, driven by creativity, and committed to our clients.</h4>
      <p> We offer effective digital solutions to individuals, companies, and organizations looking to modernize the way they do business, and surpass their competitors.</p>

      <p>The High Seas team is made up of talented individuals who each bring something valuable to the table. When you join forces with us, you put yourself ahead of the pack, and you can feel comfortable knowing that you are in business with a group who loves the work that they do, and truly cares about the needs of every client.</p>
    </div>
    <div class="video"><iframe src="https://www.youtube.com/embed/R0rSwzek12g?rel=0&showinfo=0" class="tm-vid" frameborder="0" allowfullscreen></iframe></div>
  </div>
</div>

<div class="ab-s">
  <div class="container-fluid">
      <%= link_to '/design', class: 'service wd' do %>
          <div class="icon"></div>
          <h3>Web Design</h3>
      <% end %>

      <%= link_to '/ecommerce', class: 'service ec' do %>
          <div class="icon"></div>
          <h3>Ecommerce</h3>
      <% end %>

      <%= link_to '/sem', class: 'service da' do %>
          <div class="icon"></div>
          <h3>Digital Advertising</h3>
      <% end %>

  <!--     <%= link_to '/photo_gallery', class: 'service pg' do %>
          <div class="icon"></div>
          <h3>Photography</h3>
      <% end %>
 -->
  </div>
</div>

<div class="about-p3">
  <div class="story">
    <div class="inside">
      <h3 class="quote">From the very beginning, we've thrived on creativity and innovation, and we've always had a passion for what we do.</h3>
    </div>
  </div>

  <div class="image">
    <%=image_tag('table-new.jpg', alt: 'High Seas Design House - The Early Days - Orange Beach, Al', class: 'img-responsive') %>
  </div>

  <div class="info">
    <p class="one">We started out working from a house -- with four of us gathered around a dining room table -- designing websites, producing real estate photography, and offering fresh ideas and new ways of doing business.</p>
    <p class="two">Since 2012, we have grown significantly. Our services have evolved, and we have long since upgraded our workspace to an office. But our priorities have never changed.</p>
  </div>
</div>
