<% @page_title = "Web Design" %>
<% @page_description = "High Seas Design House has an experienced and skilled team of web designers. We build customized sites that produce quality results." %>

<section class="webdesign">
	<div class="container-fluid">
		<div class="col-md-6 col-md-offset-6">
			<nav class="cl-effect-11"><h1>/ <a href="#" data-hover="We">Web Design</a></h1></nav>
			<div class="col-xs-12">
				<div class="focus focusr wow fadeInDown" data-wow-delay="0.1s">RAILS</div>
				<div class="focus focuss wow fadeInDown" data-wow-delay="0.2s">SASS</div>
				<div class="focus focush wow fadeInDown" data-wow-delay="0.3s">HTML</div>
				<div class="focus focusc wow fadeInDown" data-wow-delay="0.4s">CSS</div>
				<div class="focus focusp wow fadeInDown" data-wow-delay="0.2s">PHP</div>
				<div class="focus focusj wow fadeInDown" data-wow-delay="0.3s">JAVASCRIPT</div>
			</div>
		</div>
	</div>
</section>

<!-- div class="intro wow fadeInLeft" data-wow-delay="0.1s"> -->
<section class="webdesign-body">
	<div class="mobile-hide">
		<svg id="bigHalfCircle" class="half-circle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="127" viewBox="0 0 100 100" preserveAspectRatio="none">
			<path d="M0 100 C40 0 60 0 100 100 Z" />
		</svg>
	</div>
	<div class="container-fluid">
		<div class="wb-1">
			<div class="col-md-5 col-md-offset-1">
				<div class="col-md-11 col-xs-12">
					<h3 class="wow fadeInLeft" data-wow-delay="0.1s">Doesn't Your Business <br class="mobile-show"> Deserve a Great Website?</h3>
				</div>
				<div class="col-md-12 col-xs-12 wow fadeInLeft">
					<p>
						High Seas has the experience and skills that you want in a design team, and a commitment to our clients that remains long after we launch their site.
						We design and build websites customized to your needs, produce quality results, and offer support that you can't get from other agencies.
					</p>
					<p>When you work with us, you get full access to all of our creative talents. Every member of our team contributes something to each project, from general layout to content creation. From the time we lift off, every phase of a project gets the attention it deserves.</p>
				</div>
			</div>
			<div class="col-md-5 mobile-hide wow fadeInDown" data-wow-delay="0.2s">
				<%=image_tag( 'mockup.png', alt: 'High Seas Design House, Web Design Services Image', class: 'img-responsive mockup') %>
			</div>
			<div class="col-md-4 mobile-show wow fadeInDown">
				<%=image_tag( 'site-img9.png', alt: 'High Seas Design House, Orange Beach, Al - Web Design Image', class: 'img-responsive mockup') %>
			</div>
		</div>
	</div>
</section>

<section class="triangle-sec">
	<svg id="bigTriangleColor" class="big-triangle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
		<path d="M0 0 L50 100 L100 0 Z" />
	</svg>
</section>

<section class="post-wb">
	<div class="container-fluid">
		<div class="inner">
			<div class="col-md-5 col-md-offset-1 col-xs-12">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<%=image_tag( 'portfolio/glow.png', alt:'High Seas Design House, Website Design Portfolio, Glow Yoga', class: 'img-responsive second') %>
						</div>
						<div class="item">
							<%=image_tag( 'portfolio/weld.png', alt:'High Seas Design House, Website Design Portfolio, Gulf Coast Welding', class: 'img-responsive') %>
						</div>
						<div class="item">
							<%=image_tag( 'portfolio/downunder.png', alt:'High Seas Design House, Website Design Portfolio, Down Under', class: 'img-responsive') %>
						</div>
						<div class="item">
							<%=image_tag( 'portfolio/rejuv.png', alt:'High Seas Design House, Website Design Portfolio, Rejuvenation Medspa', class: 'img-responsive') %>
						</div>
						</div>  <!-- carousel inner -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 xs-pad0">
					<div class="bot-box">
						<div class="col-md-12 col-xs-12"><h4>We believe in</h4></div>
						<div class="col-md-12 col-xs-12">
							<p class="up">Responsive Design</p>
							<p>
							The largest portion of web traffic these days comes from mobile devices and tablets. All of the sites we build are completely responsive, designed with a prioritized layout, and a usability that remains functional on any device or screen size.</p>
						</div>
						<div class="col-md-12 col-xs-12">
							<p class="up">User Friendly Experience</p>
							<p>
								Our design team understands the value of usability, and we create websites that are user friendly and quick to load, with the important content conveniently located, and any interactions or transactions being functional and simple to execute.
							</p>
						</div>
						<div class="col-md-12 col-xs-12 last">
							<h4 class="p-top-1"> We don't believe in </h4>
							<p>Presenting our clients with anything we aren't proud to put our name on.</p>
							<p class="up"> And we have very high standards.</p>
						</div>
						<div class="col-md-4">
							<%= link_to "clients", class: 'service-link' do %>
							<span>View Our Work</span>
							<% end %>
						</div>
						<div class="col-md-5">
							<%= link_to "contact#contact", class: 'service-link' do %>
							<span>Request a Quote</span>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

