<% @page_title = "Ecommerce" %>
<% @page_description = "High Seas is a serious asset to any business ready to transition into online sales. We have developed a resume full of Ecommerce projects.
" %>



<section class="e-header">
    <div class="container-fluid">
      <div class="col-md-4 col-xs-12">
            <h1 class="intro wow fadeInDown" data-wow-delay="0.1s">Ecommerce<br> Services</h1>
      </div>
    </div>
</section>

<section class="ecommerce-page-2">
  <div class="border-slope">
    <div class="slope"></div>
  </div>
</section>

<section class="inside-ecom2">
  <div class="container">
    <div class="content">

          <div class="col-md-4 col-md-offset-1 col-xs-12 pright-2">
            <div class="ecol-1">
                <div class=" wow fadeInLeft" data-wow-delay="0.1s"><%=image_tag('ecom/5.png', alt: 'High Seas Design House, Ecommerce Design', class: 'img-responsive efol-img odd first') %></div>
                <div class=" wow fadeInDown" data-wow-delay="0.2s"><%=image_tag('ecom/10.png', alt: 'High Seas Design House Ecommerce Website Portfolio', class: 'img-responsive efol-img left') %></div>
                <div class=" wow fadeInUp" data-wow-delay="0.3s"><%=image_tag('ecom/3.png', alt: 'High Seas Design House, Ecommerce Websites', class: 'img-responsive efol-img odd right') %></div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12 pleft-2">
            <div class="intro-box">
                <h3>High Seas is a serious asset to any business ready to transition into online sales.</h3>
                <p class="p-top-1"> Ecommerce has become one of the most effective tools for cultivating a business, and our resume is full of Ecommerce projects.</p>
                 <p class="p-top-1">
                    High Seas has experience working with a number of the different Ecommerce platforms, a few of which we are certified partners. We have developed our Ecommerce background by taking on projects of all sizes, producing websites for businesses of all types.
                    Our team believes in exemplary work, and outstanding customer service, for every project, big or small.
                  </p>
            </div>
            <div class="col-md-12 col-xs-12">
                <p class="slope">An extra platform to sell your product. Build your brand. Grow your clientele. Increase your in-store traffic.</p>
            </div>
          </div>

    </div>
  </div>
</section>

<section class="ecommerce-page-3">
  <div class="container-fluid over">
    <div class="col-md-8 col-xs-12">
      <div class="intro-box">
        <h3 class="intro wow fadeInDown" data-wow-delay="0.3s">What Can High Seas Do For You?</h3>
        <div class="col-md-6 cart-sec one">
          <i class="cart"></i><p>Help you choose the Ecommerce platform that is right for your business. </p>
          <i class="cart"></i><p>Build an impressive, responsive, and functional new website for your storefront. </p>
          <i class="cart"></i><p class="last">Set up your online store so that it is easy for your customers to use. </p>
        </div>

        <div class="col-md-6 cart-sec">
          <i class="cart"></i><p>Train you to manage your store (product entry, accepting payments, order fulfillment). </p>
          <i class="cart"></i><p>Offer support, and answer any questions you have, after your site is launched.</p>
          <i class="cart"></i><p class="last"><b>We are Ecommerce Experts.</b></p>
        </div>
      </div>

      <div class="col-md-3">
        <%= link_to "design", class: 'service-link' do %>
          <span>Website Design</span>
        <% end %>
      </div>

      <div class="col-md-4">
        <%= link_to "clients", class: 'service-link' do %>
          <span>See Our Work</span>
        <% end %>
      </div>

      <div class="col-md-4">
        <%= link_to "sem", class: 'service-link' do %>
          <span>Digital Advertising</span>
        <% end %>
      </div>

    </div>

    <div class="col-md-3 col-md-offset-1 no-padding col-xs-12">
      <div class="partner-box">
        <%=image_tag('shopify-partner.png', alt: 'High Seas Design House - Shopify Partners', class: 'img-responsive partner-img pi1') %>
        <%=image_tag('expert.png', alt: 'High Seas Design House, Vend Partners', class: 'img-responsive partner-img pi2') %>
        <%=image_tag('vantiv.png', alt: 'High Seas Design House, Vantiv Partners', class: 'img-responsive partner-img pi3') %>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

