<% @page_title = "Ecommerce" %>
<% @page_description = "High Seas is a serious asset to any business ready to transition into online sales. We have developed a resume full of Ecommerce projects.
" %>

<section class="e-header">
  <div class="inner">
    <h1>Ecommerce Services</h1>
    <h2>Ecommerce has become one of the most effective tools for cultivating a business, and our resume has Ecommerce written all over it. </h2>
  </div>
</section>


<section class="inside-ecom2">
  <div class="content">
    <div class="txt-hlf">
      <div class="why one">
        <div class="inner">
          <h3>Why Sell Online?</h3>

          <hr>
          <p>Give your customers the gift of convenience. </p>

          <p>Build your brand. </p>
          <p>Grow your clientele. </p>
          <p>Increase your in-store traffic.</p>
          <hr>
          <div class="clearfix"></div>
          <h4><b>If you don't sell your product online, your competitors will do it for you.</b></h4>
        </div>
      </div>

      <div class="why two">
        <h3>Why Choose High Seas?</h3>
        <div class="title-line"></div>
        <div class="clearfix"></div>

        <p><b>High Seas is a serious asset to any business ready to transition into online sales.</b> We have developed our strong Ecommerce background by taking on projects of all sizes, producing websites for businesses of all types, and working with many of the various sales platforms.</p>
        <p>Our team believes in exemplary work, and outstanding customer service, for every project, big or small.</p>

        <div class="partner-box">
          <%=image_tag('shopify-partner.png', alt: 'High Seas Design House - Shopify Partners', class: 'img-responsive partner-img pi1') %>
          <%=image_tag('expert.png', alt: 'High Seas Design House, Vend Partners', class: 'img-responsive partner-img pi2') %>
          <%=image_tag('vantiv.png', alt: 'High Seas Design House, Vantiv Partners', class: 'img-responsive partner-img pi3') %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ecommerce-new-3">
  <div class="main-sq">
    <div class="content">
      <h3>How Can High Seas Help?</h3>
      <div class="ec-box one">
        <span>1</span>
        <p>Help choose the platform that is right for your business, and set up your online store. </p>
      </div>

      <div class="ec-box two">
        <span>2</span>
        <p>Build an impressive, responsive, and functional new website for your storefront.  </p>
      </div>

      <div class="ec-box three">
        <span>3</span>
        <p>Train you to manage your store (everything from product entry, to order fulfillment). </p>
      </div>

      <div class="ec-box four">
        <span>4</span>
        <p>Offer support, and answer any questions you have, even after your site is launched.</p>
      </div>
    </div>

    <div class="img-bx">
      <%= image_tag('ec-cronin1.png', class: 'img-responsive efol-img', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
      <%= image_tag('ec-barrow.png', class: 'img-responsive efol-img odd', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
      <%= image_tag('ec-ub1.png', class: 'img-responsive efol-img three', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
      <div class="clearfix"></div>
      <%= image_tag('ec-maho.png', class: 'img-responsive efol-img odd four ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
      <%= image_tag('ec-shades1.png', class: 'img-responsive efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
      <%= image_tag('ec-hsa2.png', class: 'img-responsive efol-img odd', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
    </div>
  </div>

</section>

<div class="clearfix"></div>
