<% @page_title = "Shopify" %>
<% @page_description = "From building a new storefront, to migrating an old store to a better platform, we are Shopify Experts. Shopify is our top choice for ecommerce clients." %>

<!-- <div class="bod">
	<div class="in-bod"> -->

		<section class="shop-header">
		  <div class="inner">
				<h1>HSDH <span>+</span> <%= image_tag 'shop-text-dk.png', class: 'shop-txt', alt: 'Shopify Experts Logo' %> =<br> <%= image_tag 'experts-dark.png', class: 'shop-txt2', alt: 'Shopify Experts Logo' %></h1>
		  </div>

		  <div class="border-slope"></div>
		</section>

	  <div class="hsdh">
	  	<div class="inside">
	  		<div class="left">
	  			<h3>Our team specializes in Shopify sites.<br> We love helping our clients take their business to the next level with an ecommerce store, designed specifically for them. </h3>
				</div>

				<div class="right">
					<div class="block">
						<h4>New Stores</h4>
						<p>Our team will handle the initial set up for your new Shopify store, and build a beautiful, custom storefront, tailored to represent your brand.</p>
					</div>

					<div class="block">
						<h4>Existing Stores</h4>
						<p>Already have a Shopify store that just needs a little TLC? Our design team will work their magic, and leave your site with a fresh look that feels brand new.</p>
					</div>

					<div class="block">
						<h4>Migration</h4>
						<p>Do you have an ecommerce store on another platform, but want to migrate to Shopify? No problem! Our setup experts will have you up and running in no time.</p>
					</div>

					<div class="block">
						<h4>Support</h4>
						<p>Before you take over, we train you to manage your store - - from product entry and updates, to fulfillment options. And we offer support long after the site is launched.</p>
					</div>

				</div>
		  </div>
		</div>

		<div class="dbl-link">
			<%= link_to 'shopify.com?ref=HighSeasDesignHouse', class: 'left', :target => '_blank' do %>
				<h3>Create a Shopify Account</h3>
			<% end %>

			<a href="#why-shopify" class="right">
				<h3>Why do we love Shopify?</h3>
			</a>
		</div>

		<div class="port">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner" role="listbox">
					<div class="item active ash">

						<div class="lslide ash">
							<div class="images">
								<%= image_tag('ecom/asher2.png', class: 'img-responsive efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
							</div>

							<%= link_to 'https://shopasher.com/', :target => '_blank', class: 'extras' do %>
							 	Visit <span>ASHER</span>
							<% end %>
						</div>

							<div class="rslide cronin">
								<div class="images">
									<%= image_tag('ecom/cronin1.png', class: 'img-responsive efol-img', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
								</div>

								<%= link_to 'https://croninsurfboards.com/', :target => '_blank', class: 'extras' do %>
									Visit <span>CRONIN</span>
								<% end %>
							</div>
					</div>

						<div class="item">
							<div class="lslide bar">
								<div class="images">
									<%= image_tag('ecom/barrow2.png', class: 'img-responsive efol-img', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
								</div>

								<%= link_to 'https://barrowfinefurniture.com/', :target => '_blank', class: 'extras' do %>
									Visit <span>BARROW</span>
								<% end %>
							</div>

							<div class="rslide zip">
								<div class="images">
									<%= image_tag('ecom/zip2.png', class: 'img-responsive efol-img', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
								</div>

								 <!-- <%= link_to 'https://zippixtoothpicks.com/', :target => '_blank', class: 'extras' do %> -->
								 	<!-- Visit <span>ZIPPIX</span> -->
								 <!-- <% end %> -->
							</div>
						</div>
				</div>  <!-- carousel inner -->

				<ul class="indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
						<%= image_tag('ecom/asher0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>

			    <li data-target="#carousel-example-generic" data-slide-to="1">
						<%= image_tag('ecom/zip0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>

			    <li data-target="#carousel-example-generic" data-slide-to="2">
						<%= image_tag('ecom/barrow0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>

			    <li data-target="#carousel-example-generic" data-slide-to="3">
						<%= image_tag('ecom/cronin0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>
			  </ul>

				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div style="display:none;"  class="p2">
			<div class="lefty">
				<h3>Look What We've Been Doing</h3>
			</div>

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner" role="listbox">
					<div class="item active ash">
						<div class="images">
							<%= image_tag('ecom/asher1.png', class: 'img-responsive efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
						</div>

						<%= link_to 'https://shopasher.com/', :target => '_blank', class: 'extras' do %>
							Visit <span>ASHER</span>
						<% end %>
					</div>

					<div class="item">
						<div class="images">
							<%= image_tag('ecom/zip1.png', class: 'img-responsive efol-img', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
						</div>

						 <!-- <%= link_to 'https://zippixtoothpicks.com/', :target => '_blank', class: 'extras' do %> -->
						 	<!-- Visit <span>ZIPPIX</span> -->
						 <!-- <% end %> -->
					</div>

					<div class="item">
						<div class="images">
							<%= image_tag('ecom/barrow1.png', class: 'img-responsive efol-img', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
						</div>

						<%= link_to 'https://barrowfinefurniture.com/', :target => '_blank', class: 'extras' do %>
							Visit <span>BARROW</span>
						<% end %>
					</div>

					<div class="item">
						<div class="images">
							<%= image_tag('ecom/cronin1.png', class: 'img-responsive efol-img', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
						</div>

						<%= link_to 'https://croninsurfboards.com/', :target => '_blank', class: 'extras' do %>
							Visit <span>CRONIN</span>
						<% end %>
					</div>
				</div>  <!-- carousel inner -->

				<ul class="indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
						<%= image_tag('ecom/asher0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>

			    <li data-target="#carousel-example-generic" data-slide-to="1">
						<%= image_tag('ecom/zip0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>

			    <li data-target="#carousel-example-generic" data-slide-to="2">
						<%= image_tag('ecom/barrow0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>

			    <li data-target="#carousel-example-generic" data-slide-to="3">
						<%= image_tag('ecom/cronin0.png', class: 'img-responsive one efol-img ', alt: 'High Seas Design House Ecommerce Site Screenshot') %>
			    </li>
			  </ul>

				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>

				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

			</div>
		</div>

		<div id="why-shopify" class="shop">
			<div class="inside">
				<div class="top">
					<h3>Why should you choose Shopify?</h3>
				</div>

				<div class="full">
					<div class="left">
						<p>
							Shopify is our #1 choice for ecommerce clients. No matter what size operation you run, or what product you sell, Shopify will work for you.
						</p>

						<p>
							It gives you a convenient way to keep everything in one place -- from inventory management, to sales and reporting.
							So you can spend more time running your business, not running in circles.
						</p>

						<p>
							Because Shopify is level-1 PCI compliant, you don't have to worry about the security of your customers' credit card information.
						</p>
					</div>

					<div class="right">
						<p>
							You also get unlimited bandwidth, product inventory, and customer data, so you will never be charged based on website traffic.
						</p>

						<p>
							Shopify makes the shipping process less painful, with calculated rates and discounted USPS shipping labels.
						</p>

						<p>
							The Shopify App is also an incredibly useful tool, as it allows you to manage inventory, orders, shipments, and more right from your phone.
						</p>
					</div>

				</div>
			</div>
		</div>
