<header id="header">
  <div class="main-menu">
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <div>
              <a href="#" id="offcanvas-toggler">
                <h4>Main Menu</h4>
              </a>
            </div>
          </div>

          <div class="col-md-5 col-xs-12">
            <div class="logo-box">
              <%= link_to(image_tag('logo-block.png', alt: 'High Seas Design House, Logo', class: 'img-responsive logo-header'), root_path ) %>
            </div>
          </div>

          <div class="col-md-6 col-md-offset-1 col-xs-12">
            <div class="top-contact mobile-hide">
              <div class="col-md-7 col-md-offset-3 col-xs-12">
                  <span class="tel-head"><%= number_to_phone(2515170330, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: ". ", country_code: 1) %></span>

                  <%= mail_to "info@hsdesignhouse.com", encode: "hex", class: 'email' do %>
                    info@hs<span style="display:none">hexscramblewords</span>designhouse.com
                  <% end %>
              </div>

              <div class="col-md-2">
                <ul class="social-links">
                  <li>
                    <%= link_to '/fb', target: '_blank' do %>
                      <i class="fa fa-facebook"></i>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to '/insta', target: '_blank' do %>
                      <i class="fa fa-instagram"></i>
                    <% end %>
                  </li>
                </ul>
              </div>

            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav megamenu-parent menu-zoom hidden-xs">
                  <%= render 'layouts/nav' %>
                </ul>
              </div>
            </div>
        </div>
      </nav>
    </div>
</header>

